<td><%= truncate(feed.deal.try(:main_line), length: 20) %></td>
<td><%= truncate(feed.title, length: 20) %></td>
<td><%= feed.valid_at_to_s.try(:humanize) %></td>
<td><%= feed.deal_type_to_s.try(:humanize) %></td>
<td class="action"><%= feed.package_days %></td>
<td>
  <%-if feed.status? %>
    <span class="badge alert-success">Yes</span>
  <%-else %>
    <span class="badge alert-danger">No</span>
  <%-end %>
</td>
<td class="action">
  <input type="checkbox" class="button-on-off" data-toggle="toggle" value="<%= feed.id %>" data-store-id="<%= feed.store.id %>" data-size="small" <%= 'checked' if feed.status %> >
</td>
<td class='action'>
  <%= link_to 'Show', [feed.store, feed], class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Edit', edit_store_feed_path(feed.store, feed), class: 'btn btn-primary btn-sm' %>
  <%#= link_to 'Add category', categories_store_deal_path(feed.store, feed), class: 'btn btn-primary btn-sm' %>
</td>